/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --ff-spartan: "Spartan", sans-serif;
}

.theme-1 {
  /* BG COLOR*/
  --bg-main: hsl(222, 26%, 31%);
  --bg-keypad: hsl(223, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);
  /* KEY COLOR */
  --clr-keys-1: hsl(225, 21%, 49%);
  --clr-keys-2: hsl(6, 63%, 50%);
  --clr-keys-3: hsl(30, 25%, 89%);
  --clr-shadow-keys-1: hsl(224, 28%, 35%);
  --clr-shadow-keys-2: hsl(6, 70%, 34%);
  --clr-shadow-keys-3: hsl(28, 16%, 65%);
  /* TEXT COLOR */
  --clr-text-top: hsl(0, 0%, 100%);
  --clr-text-num-keys: hsl(221, 14%, 31%);
  --clr-text-del-reset: hsl(0, 0%, 100%);
  --clr-text-equaltosign: hsl(0, 0%, 100%);
}

.theme-2 {
  /* BG COLOR*/
  --bg-main: hsl(0, 0%, 90%);
  --bg-keypad: hsl(0, 5%, 81%);
  --bg-screen: hsl(0, 0%, 93%);
  /* KEY COLOR */
  --clr-keys-1: hsl(185, 42%, 37%);
  --clr-keys-2: hsl(25, 98%, 40%);
  --clr-keys-3: hsl(45, 7%, 89%);
  --clr-shadow-keys-1: hsl(185, 58%, 25%);
  --clr-shadow-keys-2: hsl(25, 99%, 27%);
  --clr-shadow-keys-3: hsl(35, 11%, 61%);
  /* TEXT COLOR */
  --clr-text-top: hsl(60, 10%, 19%);
  --clr-text-num-keys: hsl(60, 10%, 19%);
  --clr-text-del-reset: hsl(0, 0%, 100%);
  --clr-text-equaltosign: hsl(0, 0%, 100%);
}

.theme-3 {
  /* BG COLOR*/
  --bg-main: hsl(268, 75%, 9%);
  --bg-keypad: hsl(268, 71%, 12%);
  --bg-screen: hsl(268, 71%, 12%);
  /* KEY COLOR */
  --clr-keys-1: hsl(281, 89%, 26%);
  --clr-keys-2: hsl(176, 100%, 44%);
  --clr-keys-3: hsl(268, 47%, 21%);
  --clr-shadow-keys-1: hsl(285, 91%, 52%);
  --clr-shadow-keys-2: hsl(177, 92%, 70%);
  --clr-shadow-keys-3: hsl(290, 70%, 36%);
  /* TEXT COLOR */
  --clr-text-top: hsl(52, 100%, 62%);
  --clr-text-num-keys: hsl(52, 100%, 62%);
  --clr-text-del-reset: hsl(0, 0%, 100%);
  --clr-text-equaltosign: hsl(198, 20%, 13%);
}

/*-----------------------------------------------------------------*/
body {
  font-family: var(--ff-spartan);
  background-color: var(--bg-main);
}

.container {
  margin: auto;
  /* margin-top: 6.5vh; */
  height: 667px;
  width: 375px;
  /* border: 2px solid black; */
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  margin: auto;
  height: 88px;
  width: 327px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-text-top);
  font-size: 20px;
  font-weight: 600;
}

.theme {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
}
.theme-no {
  position: relative;
  padding-left: 100px;
  padding-bottom: 5px;
}

.theme-no span {
  padding: 6px;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle span {
  padding-right: 20px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.radio-buttons {
  background-color: var(--bg-keypad);
  height: 26px;
  width: 66px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-buttons input[type="radio"] {
  opacity: 0;
  cursor: pointer;
  margin: 2.5px 3.5px 4.5px;
}

.radio-buttons input[type="radio"]:checked ~ .radio-button {
  content: "";
  position: absolute;
  margin-top: -18px;
  margin-left: 2px;
  border: none;
  cursor: pointer;

  height: 16px;
  width: 16px;

  border-radius: 50%;
  background-color: var(--clr-keys-2);
}

/*----------------------------Screen---------------------------------- */
.screen-container {
  margin: auto;
  height: 88px;
  width: 327px;
  background-color: var(--bg-screen);
  border-radius: 10px;
  color: var(--clr-text-top);
}

.screen {
  font-size: 32px;

  display: flex;
  justify-content: flex-end;
  margin-top: 26px;
  margin-right: 24px;
}

/* --------------------------- --------keypad------------------------------------- */
.buttons-container {
  margin: auto;
  height: 420px;
  width: 327px;
  background-color: var(--bg-keypad);
  border-radius: 10px;
}

button:active {
  box-shadow: none;
  position: relative;
  top: 3px;
}

.keypad-container {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 17px 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "seven eight nine delete"
    "four five six plus"
    "one two three minus"
    "dot zero divide multiply"
    "reset reset equal equal";
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#delete {
  grid-area: delete;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#plus {
  grid-area: plus;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#minus {
  grid-area: minus;
}

#dot {
  grid-area: dot;
}

#zero {
  grid-area: zero;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
}

#reset {
  grid-area: reset;
}

#equal {
  grid-area: equal;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#dot,
#zero,
#divide,
#plus,
#minus,
#multiply {
  background-color: var(--clr-keys-3);
  border: none;
  border-radius: 4px;
  height: 60px;
  width: 60px;
  color: var(--clr-text-num-keys);
  font-size: 32px;
  cursor: pointer;
  box-shadow: 0px 4px 0px 0px var(--clr-shadow-keys-3);
}

#delete,
#reset {
  background-color: var(--clr-keys-1);
  border: none;
  border-radius: 4px;
  color: var(--clr-text-del-reset);
  cursor: pointer;
  box-shadow: 0px 4px 0px 0px var(--clr-shadow-keys-1);
}

#equal {
  background-color: var(--clr-keys-2);
  border: none;
  border-radius: 4px;
  color: var(--clr-text-equaltosign);
  cursor: pointer;
  box-shadow: 0px 4px 0px 0px var(--clr-shadow-keys-2);
}

@media screen and (min-width: 481px) and (max-width = 768px) {
}

@media screen and (min-width: 767px) {
  .container {
    min-width: 550px;
    min-height: 768px;
    /* margin-top: 6.5vh; */
  }
  .header-container {
    min-width: 540px;
    margin-bottom: -40px;
  }
  .screen-container {
    min-width: 540px;
    min-height: 110px;
  }
  .screen {
    margin-top: 30px;
    margin-right: 30px;
    font-size: 48px;
  }

  .buttons-container {
    min-width: 540px;
    min-height: 470px;
    margin-top: -15px;
  }

  .keypad-container {
    padding: 30px;
    gap: 28px 25px;
  }

  #one,
  #two,
  #three,
  #four,
  #five,
  #six,
  #seven,
  #eight,
  #nine,
  #dot,
  #zero,
  #divide,
  #plus,
  #minus,
  #multiply,
  #delete {
    width: 101px;
    border-radius: 8px;
  }

  #reset,
  #equal {
    min-width: 227px;
    border-radius: 8px;
    font-size: 20px;
  }
}
